@{
	StrongViewBag.LayoutDetails = new LayoutDetails
	{
		Title = "Admin dashboard",
		CurrentTopMenu = LayoutDetails.TopMenu.Admin,
		Breadcrumbs = new List<Link>
		{
			new Link("Admin dashboard", this.Url.Action(MVC.Home.Admin()))
		}
	};
}

@{
	var url = this.Url.Content("~/api/data/getsecret/1");
}

<h2>Admin dashboard</h2>
<p>Only administrators can view this page.</p>
<p>Protected web api method: <a href="@url">@url</a></p>

<h3>Unhandled exceptions</h3>
<p>See unhandled exceptions at <a href="@this.Url.Content("~/elmah")">~/elmah</a>.</p>

<h3>Account</h3>
You are logged in as @MyLoginService.Default.GetPrincipal().Email. Your account has these roles: 
@Html.Raw(string.Join(", ", MyLoginService.Default.GetPrincipal().Roles.Select(r => "<em>" + r + "</em>"))).