@model Pipelyne.Core.Pipelyne
@{
	StrongViewBag.LayoutDetails = new LayoutDetails
	{
		Title = "Home",
		CurrentTopMenu = LayoutDetails.TopMenu.Home,
		Breadcrumbs = new List<Link>
		{
			new Link("Home", Url.Action(MVC.Home.Index()))
		}
	};
}

<h2>Pipelyne</h2>

<h3>URL format</h3>

~/pipe?
<strong>source</strong>=<span class="label label-info">store-of-your-choosing</span>&
<strong>id</strong>=<span class="label label-info">item-inside-the-store</span>&
<strong>to</strong>=<span class="label label-info">comma-delimitted-list-of-transformers</span>

<h3>Examples</h3>
<ul>
	<li>
		<a href="@Url.Content("~/pipe?source=url&id=https://raw.githubusercontent.com/Knagis/CommonMark.NET/master/README.md&to=md-html,webpage")">
			~/pipe?source=url&id=https://raw.githubusercontent.com/Knagis/CommonMark.NET/master/README.md&to=md-html,webpage
		</a>
	</li>
	<li>
		<a href="@Url.Content("~/pipe?source=url&id=https://raw.githubusercontent.com/Knagis/CommonMark.NET/master/README.md&to=text")">
			~/pipe?source=url&id=https://raw.githubusercontent.com/Knagis/CommonMark.NET/master/README.md&to=text
		</a>
	</li>
	<li>
		<a href="@Url.Content("~/pipe?source=db&id=mydb,tables,user,data&to=code,webpage")">
			~/pipe?source=db&id=mydb,tables,user,data&to=code,webpage
		</a>
	</li>
	<li>
		<a href="@Url.Content("~/pipe?source=db&id=mydb,tables,user,metadata&to=table,webpage")">
			~/pipe?source=db&id=mydb,tables,user,metadata&to=table,webpage
		</a>
	</li>
</ul>

<h3>Implemented stores</h3>

<ul>
	@foreach (var store in Model.Stores)
	{
		<li>@store.Name</li>
	}
</ul>

<h3>Implemented transformers</h3>

<ul>
	@foreach (var transformer in Model.Transformers)
	{
		<li>@transformer.Name</li>
	}
</ul>

@*@Html.Raw(Pipe.Pipelyne.Value.ProcessRequest(new Pipelyne.Core.TransformationRequest { Id= "http://localhost:49835/docs/intro.md" , Source = "url", To = "md-html"}).Content)*@